/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');
html,
.body {
    background-color: rgb(0,154,216, 0.6);    
    height: 100vh;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header {
    color: white;
    text-align: center;
    padding: 3em;
    padding-bottom: 1em;
}

input {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
    color: white !important;
}

.login_btn {
    color: black;
    width: 50%;
    background-color: #009ad8;
    color: white;
}

.login_btn:hover {
    color: black;
    background-color: #009ad8;
}